<form [formGroup]="mathForm">
  <div class="equation">{{ a }} + {{ b }} =</div>

  <!-- <input
    formControlName="answer"
    [ngClass]="{
      'white-color': a! + b! === +answer!,
      'red-color': a! + b! !== +answer!
    }"
  /> -->

  <input appAnswerHIghlight formControlName="answer" />

  <!-- <ng-container *ngIf="mathForm.errors && mathForm.controls.answer.touched">
    <div>Input is invalid</div>
  </ng-container> -->
</form>
<div class="stats">{{ solutionPerSeconds }} per seconds</div>
<!-- <hr />

<div>Form is valid : {{ mathForm.valid }}</div>
<div>Form values : {{ mathForm.value | json }}</div>
<div>Form values : {{ mathForm.errors | json }}</div> -->
